button {
  font-size: 40px;
  border-radius: 5px;

}

h2 {
  font-size: 50px;
  text-align: center;
}

canvas {
  margin: 0 auto;
  display: block;
}


.replayGameBtn {
  border: 3px;
  border-radius: 5px;
  background-color: rgba(33, 73, 94, 0.5);
  border-color: black;
  border-style: solid;
  color: rgba(7, 8, 8);
}

.replayGameBtn:hover {
  border: 1px solid black;
  background-color: rgba(158, 195, 215, 0.5);
  color: rgb(7, 8, 8, 0.8);
  cursor: pointer;
}

img {
  height: 100px;
  width: 100px;
}

.container {
  text-align: center;
}

/*.row{
  justify-content: space-evenly;
}*/