button {
  font-size: 40px;
  border-radius: 10px;
  margin-left: 600px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

canvas {
  margin: 0 auto;
  display: block;
}

.startGameBtn, .replayGameBtn {
  border: 3px;
  margin-bottom: 1px;
  background-color: rgba(33, 73, 94, 0.5);
  border-color: black;
  border-style: solid;
  margin-top: 20px;
}

.startGameBtn:hover {
  border: 10px solid black;

}

.replayGameBtn:hover {
  border: 10px solid black;
}

.startGameBtn {
  margin-left: 622px;
}